html, body {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    height: 100%;
    font-size: 20px;
    font-weight: 300;
    color: #322e2d;
    font-family: 'Lato', sans-serif;
    background-color: lighten(#673ab7, 50);
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    font-weight: 300;
    line-height: 1.8em;
}

h1 {
    font-size: 2em;
    font-weight: 500;
}

h2 {
    font-size: 1.4em;
    font-weight: 500;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

a {
    color: #009eaf;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;

    &:hover {
        color: #00b8cc;
    }
}

.caption {
    font-size: 0.8em;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    font: inherit;
    color: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

    &:hover {
        cursor: pointer;
    }

    &:active {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

    &:disabled:hover {
        cursor: default;
    }
}

.flex {
    flex: 1;
}
