@import 'variables';

html, body {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    height: 100%;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 300;
    color: $brand-background-dark;
    font-family: 'Montserrat', sans-serif;
    background-color: $brand-background-lighter;

    @media all and (min-width: $viewport-mobile-min) {
        font-size: 17px;
    }

    @media all and (min-width: $viewport-tablet-min) {
        font-size: 18px;
    }
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    line-height: 1.2em;
}

h1 {
    font-size: 2em;
    font-weight: 300;
}

h2 {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.6em;
    font-weight: 400;
}

h3 {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
}

h4 {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
}

h5 {
    font-family: 'Oxygen', sans-serif;
    font-size: 1em;
    font-weight: 700;
}

ul {
    margin: 0.6em 0;
    padding-left: 1.2rem;
    list-style-type: circle;

    li {
        margin: 0.4em 0;
    }
}

a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $brand-accent-dark;
    line-height: normal;
    text-decoration: underline;

    &:hover {
        color: $brand-secondary-dark;
    }

    &.light {
        color: $brand-accent-lighter;

        &:hover {
            color: $brand-secondary-light;
        }
    }
}

blockquote {
    position: relative;
    margin: 1em 0;
    padding: 0.25em 0.5em;
    font-weight: 700;
    color: $brand-secondary-dark;
    border-left: 0.2em solid $brand-secondary-dark;

    &.light {
        font-weight: 400;
        color: $brand-secondary-lighter;
        border-color: $brand-secondary-lighter;
    }
}

.cm-subheader {
    margin-bottom: 0.5em;
    opacity: 0.8;
    font-weight: 700;
    text-shadow: -1px -1px $brand-background-dark;
    text-transform: uppercase;
}

.caption {
    font-size: 0.9em;
    color: $brand-background-normal;
}

.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    font: inherit;
    color: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

    &:hover {
        cursor: pointer;
    }

    &:active {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

    &:disabled:hover {
        cursor: default;
    }
}

.flex {
    flex-grow: 1;
}

@media all and (max-width: $viewport-mobile-max) {
    .hide-mobile {
        display: none;
    }
}

@media all and (max-width: $viewport-tablet-max) {
    .hide-tablet {
        display: none;
    }
}
