$viewport-mobile-min: 520px;
$viewport-mobile-max: calc(520px - 1px);

$viewport-tablet-min: 780px;
$viewport-tablet-max: calc(780px - 1px);

$brand-primary-lighter: #ffc4ab;
$brand-primary-light: #ffa998;
$brand-primary-normal: #ff7d65;
$brand-primary-dark: #d64b4b;

$brand-accent-lighter: #8ce8ff;
$brand-accent-light: #78d8f0;
$brand-accent-normal: #00b8cc;
$brand-accent-dark: #009eaf;

$brand-secondary-lighter: #fff3cf;
$brand-secondary-light: #fae4a3;
$brand-secondary-normal: #e0c87f;
$brand-secondary-dark: #997b4e;

$brand-background-lighter: #f8f0ee;
$brand-background-light: #c7b9b9;
$brand-background-normal: #827775;
$brand-background-dark: #322e2d;

$border-radius: 0.6em;
