@import '../../variables';

.layout {
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-columns: 100%;
    height: 100%;

    .container {
        width: 100%;
        max-width: 980px;
        margin: 0 auto;
    }
}

.header {
    background-color: $brand-accent-dark;

    &__content {
        display: grid;
        grid-template-areas: "brand brand" "values mascot";
        grid-template-columns: 1fr auto;
        color: $brand-background-lighter;
        padding: 0.2em 1rem 0.4em;

        &__brand {
            grid-area: brand;
            text-align: center;
            font-size: 2rem;
            font-weight: 300;
            margin: 0.5em 0;
        }

        &__values {
            grid-area: values;
            display: grid;
            grid-template-rows: min-content min-content min-content;
            grid-gap: 0.5em;
            align-content: center;

            fa-icon {
                margin-right: 0.4em;
            }
        }

        &__mascot {
            grid-area: mascot;
            max-height: 140px;

            img {
                max-height: 100%;
            }
        }

        @media all and (min-width: $viewport-mobile-min) {
            grid-template-areas: "brand mascot" "values mascot";
            grid-template-rows: auto 1fr;

            &__brand {
                text-align: inherit;
            }

            &__mascot {
                max-height: inherit;
            }
        }
    }

    &__mascot {
        grid-area: mascot;
        max-height: 140px;

        img {
            max-height: 100%;
        }
    }

    @media all and (min-width: $viewport-mobile-min) {
        grid-template-areas: "brand mascot" "values mascot";

        &__brand {
            text-align: inherit;
        }

        &__mascot {
            max-height: inherit;
        }
    }
}

.navigation {
    display: flex;
    flex-direction: row;
    line-height: 1em;
    justify-content: center;
    background-color: $brand-background-dark;

    &__content {
        display: flex;
        padding: 0.5rem;

        > * {
            color: $brand-accent-normal;
            margin: 0 0.5rem;
        }

        fa-icon + span {
            margin-left: 0.4em;
        }

        a, button {
            font-weight: 300;
            text-decoration: none;

            &:hover {
                color: $brand-secondary-normal;
            }

            &.active {
                color: $brand-primary-normal;
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3rem;

    &__content {
        padding: 0.2rem 1rem;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $brand-background-light;

    &__content {
        display: grid;
        grid-gap: 1rem;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        justify-content: center;
        padding: 1rem;

        > * {
            text-align: center;

            a {
                color: $brand-background-dark;
            }

            a:hover {
                color: $brand-primary-normal;
            }
        }

        @media all and (min-width: $viewport-mobile-min) {
            grid-auto-columns: min-content;
            justify-content: flex-end;
        }
    }
}
