rules_version = '2';
service cloud.firestore {

  match /databases/{database}/documents {

    function signedIn() {
      return request != null && request.auth != null && request.auth.uid != null;
    }

    match /events/{event} {
      allow read: if true;
      allow write: if signedIn();
    }

    match /schedule/{schedule} {
      allow read: if true;
      allow write: if false;
    }

    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth.uid == userId;
    }

  }

}
