.page-header {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    margin: 1rem 0;

    &__title {
        font-size: 1rem;
        padding: 0.2rem 0;
    }

    &__subtitle {
        font-size: 0.8rem;
        font-weight: 300;
    }

    &__options {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        grid-gap: 0.5rem;
    }

}
