<cm-content>
    <h2>Training and Awareness</h2>
    <p>Training is often an overlooked subject, we can build a plan with your business to deliver a complete annual training program, or just a host single session on a specialist subject for your organisation.</p>
    <p>With years of experience in management coupled with hands on knowledge we build teams to prosper and become self-sustaining. Working alongside your existing processes we can ensure a successful future for your team growth and project delivery.</p>
    <blockquote>Train your people to have the skills to leave, but look after them so they want to stay.</blockquote>
    <img src="https://cdn.codemortals.io/stock/training.jpg" />
</cm-content>

<section>
    <article>
        <cm-content>
            <h3>Mentoring</h3>
            <p>We work with many individuals both junior and senior, giving them an opportunity to talk about their work or even extra curricular activities. This open and honest forum helps your team members to have an independent person to build a relationship with. Those involved in mentoring programs have the opportunity to attend events and get 1 to 1 advice from specialists in their field.</p>
            <p>The most effective form of learning is to have an ongoing relationship. Just consider through your career how often you would like to have had someone to discuss a problem with, bouncing ideas or to just confide in. Our mentors take confidentiality very seriously too so you can be sure your team feel comfortable in this safe environment and working towards a stronger culture.</p>
            <blockquote>A mentor is someone who focuses on development not just performance.</blockquote>
        </cm-content>
    </article>

    <article>
        <cm-content>
            <h3>Skills gap analysis</h3>
            <p>As industry experts we are able to review individuals, teams and departments to understand their strengths and weaknesses. The first step towards improving efficiency is to understand the lay of the land, we do this through 1 to 1 interviews and monitoring of daily activities.</p>
            <p>Once we have completed a short period of discovery and retrospective, analysis gaps can be identified and remediation can be recommended. This could be through training, re-structuring or recruitment; depending on the most cost effective strategy and future growth plans.</p>
            <blockquote class="light">Learn something new every day.</blockquote>
        </cm-content>
    </article>

    <article>
        <cm-content>
            <h3>Hands on workshops</h3>
            <p>No mater what the role is within your department we can help focus your skills through practice. Be this writing requirements and acceptance criteria, or agile practices like mastering scrum or pair programming.</p>
            <p>Often part of a team building exercise, spending the day doing what you love and learning how to become more efficient at it is both rewarding and enlightening. Let us help design a custom experience for your team or individuals that they will never forget.</p>
            <blockquote>Some people learn by reading, most people thrive when doing.</blockquote>
        </cm-content>
    </article>
</section>

<cm-content>
    <div>
        <div class="capabilities">
            <div class="capabilities__entry">
                <h4>DevOps Pipeline</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/devops-pipeline.jpg)'"></div>
                <p>Learn how to build an end-to-end continuous delivery culture by implementing pipeline driven development practices. When correctly managed this will increase confidence and visibility, while reducing costs and defects. It all starts with building up a steel thread...</p>
            </div>

            <div class="capabilities__entry">
                <h4>Open Source</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/open-source.jpg)'"></div>
                <p>As experts in Open Source we know that all companies and projects can benefit from building software openly. We embrace the opportunity to teach companies that share our passion for Open Source development. This can start as simple as documentation, through to correct licencing of your software and building a community around your ecosystem.</p>
            </div>

            <div class="capabilities__entry">
                <h4>Automation</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/automation.jpg)'"></div>
                <p>Harnessing behaviour / test / acceptance driven development, you can automate nearly every step of your software delivery process. This reduces the need for manual processes and improves the quality of life for implementation teams, which then instills confidence in your clients / customers.</p>
            </div>

            <div class="capabilities__entry">
                <h4>Programming languages</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/programming-languages.jpg)'"></div>
                <p>With a community of experienced software engineers, we can teach nearly every programming (or native) language around, even those long forgotten. If you want to learn the latest and simplest technologies then look no further, we are here to help and do so in an informative and concise manner.</p>
            </div>
        </div>
    </div>
</cm-content>
