<section>
    <div class="mascot">
        <img src="/assets/mascot/5.png">
    </div>
    <div>
        <h2>Join our community</h2>
        <p>Supporting the tech industry on open source and best practices. If you are building high quality, transparent software then contact us to see how our community can help.</p>
    </div>
</section>

<section>
    <div class="mascot">
        <img src="/assets/mascot/8.png">
    </div>
    <div>
        <h2>Open Source</h2>
        <p>As open source advocates our community focus on quality and encouraging both companies and individuals to make their projects more open. Open source is not just for writing code, but also documentation, planning and much much more.</p>
    </div>
</section>

<section>
    <div class="mascot">
        <img src="/assets/mascot/9.png">
    </div>
    <div>
        <h2>Best Practices</h2>
        <p>Our community is driven by building software and delivering IT projects efficiently and to exceptional quality. Many organisation believe they can accelerate by missing important processes and dont realise until it is too late.</p>
    </div>
</section>

<section>
    <div class="mascot">
        <img src="/assets/mascot/11.png">
    </div>
    <div>
        <h2>Agile Methods</h2>
        <p>Agile processes make for a solid foundation, there are core practices and more flexible ones we can help you to identify these to and build the leanest work flows for your projects.</p>
    </div>
</section>
