<div class="layout">
    <div class="header">
        <div class="container">
            <div>
                <h1>Code Mortals</h1>
                <p><fa-icon [icon]="['fas', 'check']"></fa-icon> Agile Methods</p>
                <p><fa-icon [icon]="['fas', 'check']"></fa-icon> Best Practices</p>
                <p><fa-icon [icon]="['fas', 'check']"></fa-icon> Open Source</p>
            </div>
            <a [routerLink]="['/']"><img src="/assets/mascot/1.png"></a>
        </div>
    </div>

    <div class="navigation">
        <div class="container">
            <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a [routerLink]="['schedule']" routerLinkActive="active">Schedule</a>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <a href="https://www.facebook.com/codemortals/" title="Facebook" target="_blank"><fa-icon [icon]="['fab', 'facebook']" [fixedWidth]="true" size="lg"></fa-icon></a>
            <a href="https://twitter.com/codemortals/" title="Twitter" target="_blank"><fa-icon [icon]="['fab', 'twitter']" [fixedWidth]="true" size="lg"></fa-icon></a>
            <a href="https://www.instagram.com/codemortals/" title="Instagram" target="_blank"><fa-icon [icon]="['fab', 'instagram']" [fixedWidth]="true" size="lg"></fa-icon></a>
            <a href="https://www.youtube.com/channel/UCtjddf97i066cJVcloZ4B7g?sub_confirmation=1" title="YouTube" target="_blank"><fa-icon [icon]="['fab', 'youtube']" [fixedWidth]="true" size="lg"></fa-icon></a>
        </div>
    </div>
</div>
