.layout {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 100%;
    font-size: 0.9em;
    line-height: 1.2em;
    height: 100%;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #009eaf;
        box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.1), 0 2px 4px 2px rgba(0, 0, 0, 0.3);

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #f8f0ee;
            width: 800px;
            padding: 0.5rem;
        }
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #f8f0ee;

        .container {
            width: 800px;
            padding: 0.5rem;
        }
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #322e2d;

        .container {
            color: #f8f0ee;
            padding: 1rem;
            display: grid;
            grid-gap: 1rem;
            grid-auto-rows: min-content;
            grid-auto-flow: column;
            justify-content: flex-end;
            width: 800px;

            a {
                color: #f8f0ee;
            }

            a:hover {
                color: #c7b9b9;
            }
        }
    }
}
