<h2>Upcoming schedule</h2>
<p>The following is a schedule of the events and livestreams we will be involved in, please join us and follow / subscribe.</p>

<ng-container *ngFor="let event of events">
    <div *ngIf="isFuture(event)" class="event-list">
        <div [ngSwitch]="event.type" class="event-icon">
            <fa-icon *ngSwitchCase="'meetup'" [icon]="['fas', 'users']" [fixedWidth]="true" size="2x"></fa-icon>
            <fa-icon *ngSwitchCase="'conference'" [icon]="['fas', 'chalkboard-teacher']" [fixedWidth]="true" size="2x"></fa-icon>
            <fa-icon *ngSwitchCase="'hackathon'" [icon]="['fas', 'laptop']" [fixedWidth]="true" size="2x"></fa-icon>
            <fa-icon *ngSwitchDefault [icon]="['fas', 'heartbeat']" [fixedWidth]="true" size="2x"></fa-icon>
            <div class="type">{{ event.type }}</div>
        </div>
        <div>
            <div><a [href]="event.link" target="_blank">{{ event.title }}<fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon></a></div>
            <div class="timing">
                <span>{{ event.dateStart | date: "HH:mm" }} to {{ event.dateEnd | date: "HH:mm" }}</span>
                <span>{{ event.dateStart | date: "EEE, dd MMMM yyyy" }}</span>
            </div>
        </div>
    </div>
</ng-container>
