<cm-page-header>
    <h2>Upcoming Events</h2>
    <button *cmAuthenticated rock-stroked-button type="button" [routerLink]="['/events', 'create']">Add Event</button>
</cm-page-header>

<ng-container *ngFor="let event of events">
    <div class="event" [routerLink]="['/events', event.uid]">
        <p class="event__date">{{ event.dateStart.toDate() | date: 'EEEE, d MMMM' }} at {{ event.dateStart.toDate() | date: 'HH:mm' }}</p>
        <h3 class="truncate">{{ event.title }}</h3>
        <div class="event__location">
            <span class="hide-mobile" [ngSwitch]="event.type">
                <ng-container *ngSwitchCase="'meetup'">Meet-up at</ng-container>
                <ng-container *ngSwitchCase="'workshop'">Workshop at</ng-container>
                <ng-container *ngSwitchCase="'conference'">Conference at</ng-container>
                <ng-container *ngSwitchCase="'hackathon'">Hackathon at</ng-container>
                <ng-container *ngSwitchCase="'stream'">Online Stream from</ng-container>
                <ng-container *ngSwitchDefault>Event</ng-container>
            </span>
            {{ event.venue.name }}
        </div>
    </div>
</ng-container>
