.event-list {
    display: grid;
    grid-gap: 1rem;
}

.event {
    position: relative;
    padding: calc(0.5rem + 1px);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgba(0,158,175,0.4);

    &__date {
        margin: 0;
    }

    &__location {
        font-size: 0.8rem;
    }

    &:after {
        display: block;
        position: absolute;
        bottom: 15px;
        right: 15px;
        content: ' ';
        padding: 5px;
        border: solid rgba(0,158,175,0.4);
        border-width: 0 3px 3px 0;
        border-radius: 3px;
        transform: rotate(-45deg);
    }

    &:hover {
        cursor: pointer;
        padding: 0.5rem;
        border: 2px solid #009eaf;
        background: linear-gradient(90deg, rgba(0,158,175,0.05) 0%, rgba(0,158,175,0.1) 100%);

        &:after {
            bottom: 14px;
            right: 14px;
            border-color: #009eaf;
        }
    }

}
