<cm-page-header>
    <h1>{{ event.title }}</h1>
    <div>
        <span [ngSwitch]="event.type">
            <ng-container *ngSwitchCase="'meetup'">Meet-up at</ng-container>
            <ng-container *ngSwitchCase="'workshop'">Workshop at</ng-container>
            <ng-container *ngSwitchCase="'conference'">Conference at</ng-container>
            <ng-container *ngSwitchCase="'hackathon'">Hackathon at</ng-container>
            <ng-container *ngSwitchCase="'stream'">Online Stream from</ng-container>
            <ng-container *ngSwitchDefault>Event</ng-container>
        </span>
        {{ event.venue.name }}
    </div>
</cm-page-header>

<div class="event">
    <div class="details">
        <div *ngIf="event.image" class="details__image" [style.backgroundImage]="'url(' + event.image + ')'"></div>
        <p [rockMarkdown]="event.summary" headers="simple"></p>
    </div>

    <div class="meta">
        <div class="info">
            <div class="cm-subheader">Information</div>
            <div class="info__item" *ngFor="let date of event.dates">
                <fa-icon [icon]="['far', 'clock']" size="lg" [fixedWidth]="true"></fa-icon>
                <div class="info__item__content">
                    <div>
                        <div><strong>{{ date.start.toDate() | date: 'EEEE, d MMMM yyyy' }}</strong></div>
                        <div>{{ date.start.toDate() | date: 'HH:mm' }} to {{ date.end.toDate() | date: 'HH:mm' }}</div>
                    </div>
                </div>
            </div>
            <div class="info__item">
                <fa-icon [icon]="['fas', 'map-marker-alt']" size="lg" [fixedWidth]="true"></fa-icon>
                <div class="info__item__content">
                    <a class="light truncate" [href]="event.venue.url" [title]="event.venue.name" target="_blank">{{ event.venue.name }}</a>
                    <div class="truncate">{{ event.venue.address.split(',').splice(-2)[0] }}</div>
                </div>
            </div>
            <div *ngIf="event.website" class="info__item">
                <fa-icon [icon]="['fas', 'link']" size="lg" [fixedWidth]="true"></fa-icon>
                <div class="info__item__content">
                    <a class="light truncate" [href]="event.website" [title]="event.website" target="_blank">Event Website</a>
                    <div class="truncate">{{ event.website | lowercase }}</div>
                </div>
            </div>
        </div>

        <div class="organisers">
            <div class="cm-subheader">Organisers</div>
            <div class="organisers__container">
                <div class="organisers__container__entry" *ngFor="let organiser of event.organisers">
                    <img [src]="organiser.avatar">
                    <div>{{ organiser.alias }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="map">
        <div class="map__image" #googleMap></div>
        <div class="map__address">
            <div class="map__address__header cm-subheader">{{ event.venue.name }}</div>
            <div *ngFor="let line of event.venue.address.split(',')">{{ line }}</div>
        </div>
    </div>
</div>
