.event {
    display: flex;
    flex-direction: row;

    > * {
        flex: 1 0 auto;
    }

    .details {
        width: 65%;

        &__image {
            margin: 0.5em 0;
            width: 100%;
            height: 240px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    aside {
        width: 35%;

        section {
            padding-left: 1rem;

            & + section {
                margin-top: 1rem;
            }
        }
    }
}

.info {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 8px;
    background-color: lighten(#f7f4fc, 1%);

    &__item {
        display: flex;
        flex-direction: row;
        margin: 1em 0;
        align-items: center;

        &__content {
            min-width: 0;
            margin-left: 0.5rem;

            .truncate {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.organisers {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin: 0 -0.25em;
    font-size: 0.8rem;

    &__entry {
        width: 33.33%;

        &__container {
            margin: 0.5em;
            padding: 1em 0.5em;
            border-radius: 8px;
            background-color: lighten(#f7f4fc, 1%);
            text-align: center;

            img {
                border-radius: 12px;
                width: 60px;
            }
        }
    }
}

.map {
    position: relative;
    display: block;
    height: 400px;

    &__image {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__address {
        position: absolute;
        top: 8px;
        left: 8px;
        font-size: 0.8rem;
        padding: 0.5em;
        background-color: rgba(255, 255, 255, 0.8);

        &__header {
            font-weight: bold;
        }
    }
}
