<section>
    <div class="mascot">
        <img src="https://cdn.codemortals.io/mascot/5.png">
    </div>
    <div>
        <h2>Join our community</h2>
        <p>We are supporting the technology industry on open source and best practices. If you are managing or building high quality products, or have an interest in transparent software development then <a href="https://join.slack.com/t/codemortals/shared_invite/enQtNzQyMDgxMTcyMTgxLThhMWQ4ZGFhMzJhMDk3MTA5MjIyY2JmZjNkOGNhMGZmMjA2MjRmNTVjN2ZjMTNjMjIyMTg5YzliN2Q4OTFiMmE" target="_blank">join our Slack community</a> and see how we can help.</p>
    </div>
</section>

<section>
    <div class="mascot">
        <img src="https://cdn.codemortals.io/mascot/8.png">
    </div>
    <div>
        <h2>Open Source</h2>
        <p>As open source advocates our community focus on quality and encouraging both companies and individuals to make their projects more open. Open source is not just about writing code, but also documentation, planning and much much more.</p>
    </div>
</section>

<section>
    <div class="mascot">
        <img src="https://cdn.codemortals.io/mascot/9.png">
    </div>
    <div>
        <h2>Best Practices</h2>
        <p>Our community is driven by building software and delivering IT projects efficiently and to exceptional quality. Many organisations believe they can accelerate by missing important processes and dont realise until it is too late.</p>
    </div>
</section>

<section>
    <div class="mascot">
        <img src="https://cdn.codemortals.io/mascot/11.png">
    </div>
    <div>
        <h2>Agile Methods</h2>
        <p>Agile processes make for a solid foundation, there are core practices and more flexible ones that we can help you to identify. Enabling you to and build the leanest work flows for your projects.</p>
    </div>
</section>
