<cm-content>
    <h2>Events and Social Media</h2>
    <p>Attending events and networking is a critical part of any business, often as simple as running a stand. We believe that hosting your own events and building your own audience is even more important. Our experience enables us to help you operate a successful event and engage with your audience. Struggling to create content, we can help, there are other options like documenting and getting the community to create content for you.</p>
    <blockquote>You don't exist, if your not sharing content.</blockquote>
    <img src="https://cdn.codemortals.io/stock/events.jpg" />
</cm-content>

<section>
    <article>
        <cm-content>
            <h3>Hackathons</h3>
            <p>Not just for technologists and programmers, a hackathon is an opportunity for everyone to be creative, bridge the department gap and learn other skills. Why not challenge your skilled teams with their domain knowledge or set their minds to something new.</p>
            <p>Bring together a mix of skill sets and remove the internal politics. Having a hackathon is a great team building exercise, and a way to invite your customers or even your community to join you. We can even provide judges to select the winner of your challenge.</p>
            <blockquote>Why would you not want to strengthen your culture and build awesome things?</blockquote>
        </cm-content>
    </article>

    <article>
        <cm-content>
            <h3>Conferences</h3>
            <p>We can create events and powerful communication strategies designed to bring you closer to your audience.</p>
            <p>Some companies end at logistics, we go further, using our community to dream up amazing content, meaningful strategies and have uniquely creative engagement. It’s the difference between a well-run conference and an event that inspires genuine change.</p>
            <blockquote class="light">With experience on both sides, we can bridge the gap.</blockquote>
        </cm-content>
    </article>

    <article>
        <cm-content>
            <h3>Filming &amp; Photography</h3>
            <p>It takes serious effort to create a successful event, we know that your filming and photography needs to be exceptional and executed without a hitch. In addition to creating content we can edit and produce professional, evergreen videos of your events.</p>
            <p>In our social media age, putting a face to a name is more important than ever. Ensuring that portrait images represent their subjects at their finest, is vital to represent your brand.</p>
            <p>With our team having a broad skillset in technology, we can get down to the detailed and valuable discussion with your audience. From a single event, multiple long form video content can be generated, along with highlight / overview / teaser videos too. These top of the funnel videos can be re-used to create months of content, for example, audio for podcasts which can even be transcribed for blog posts with shorter clips for social media posts.</p>
            <blockquote>What you do after you create your content is what truly counts.</blockquote>
        </cm-content>
    </article>
</section>

<cm-content>
    <div>
        <div class="capabilities">
            <div class="capabilities__entry">
                <h4>Speakers</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/speakers.jpg)'"></div>
                <p>Looking for speakers for an event, we have a large technology community consisting of speakers and industry experts. With stories to tell and experiences to share we can find the right people for your audience, explaining best practices or tips.</p>
            </div>

            <div class="capabilities__entry">
                <h4>Management</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/management.jpg)'"></div>
                <p>As developer advocates we know how to run a successful event. Location, contacts and marketing are key to running any conference or meet-up. We can even arrange appropriate lighting, sound and video recording for content capture.</p>
            </div>

            <div class="capabilities__entry">
                <h4>Streaming</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/streaming.jpg)'"></div>
                <p>Whether you want to run your 1st or 500th stream we are happy to host either a collaborative stream or promote your efforts. Always keen to support content creators we even offer free options for you to whet your appetite.</p>
            </div>

            <div class="capabilities__entry">
                <h4>Production</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/production.jpg)'"></div>
                <p>We are capable of recording and editing content created at your event, allowing you to publish to your social media channels and those unable to attend. Additionally with options including special effects or voice overs. We know how to package your content for each platform.</p>
            </div>
        </div>
    </div>
</cm-content>
