<cm-content>
    <h2>Software Development</h2>
    <p>We build bespoke software solutions with quality built-in at the core, which not only improves the efficiency but also the teams moral and culture.</p>
    <p>Our belief is that building software takes more than just a a few talented people, that is why we are heavily invested in our developer relations (DevRel), building up a large community of talent. This is just one more thing we can also help you to build for yourself with our existing network you can leverage.</p>
    <p>Everyone in our team and community has a huge amount of knowledge, experience and passion. This ranges from building server-side big data processing all the way through to marketing websites. With solution architects and business analysts aplenty, when you partner with us you can be sure of a best in class approach to building software solutions.</p>
    <blockquote>Our community is a pillar of knowledge, why not use and join it?</blockquote>
    <img src="https://cdn.codemortals.io/stock/software-development.jpg" />
</cm-content>

<section>
    <article>
        <cm-content>
            <h3>Solutions made to work at Scale</h3>
            <p>We understand how a business grows and how vital working software is both at small and large scale. The software we build can scale with your business; both in how it is designed for teams to implement code, and how the solution will be hosted for the target audience to access as it grows.</p>
            <p>Architecturally we design all software from the ground up on a solid foundation. Just as if you were building a house be that a bungalow or a sky scraper.</p>
            <blockquote>Engineered to grow with your audience; fast, flexible and reliable.</blockquote>
        </cm-content>
    </article>

    <article>
        <cm-content>
            <h3>Quality driven practices</h3>
            <p>Test-Driven-Development is at the heart of what we do. Every software project requires a pipeline for development to occur, making changes predictable and efficient. We build our pipelines to cover all aspects of Agile; from the value proposition and requirements gathering through to the software development, distribution and maintenance.</p>
            <p>We incorporate Continuous Delivery and DevOps practices into our deliverables. This means that when its time to change the plumbing you can do so with confidence and no leaks.</p>
            <blockquote class="light">We build software that just works, with best practices and fully automated regression testing.</blockquote>
        </cm-content>
    </article>

    <article>
        <cm-content>
            <h3>Rapid fit-for-purpose delivery</h3>
            <p>Building fit-for-purpose solutions typically requires 4 stages of evolution; Discovery, Alpha, Beta and Production. We can engage at any of these points, through xtreme Programming (XP) methods, our experience enables us to do so faster than our competition.</p>
            <p>Checkout our <a href="https://www.youtube.com/playlist?list=PLXKfP2rtNddd9kbaXatUejHrStkk8wMie" target="_blank">Code Kombat series</a> to see how we hone our skills through challenges and help build awareness in the industry of the common pitfalls we avoid.</p>
            <blockquote>Even prototypes are built with production considerations for peace of mind.</blockquote>
        </cm-content>
    </article>
</section>

<cm-content>
    <div>
        <div class="capabilities">
            <div class="capabilities__entry">
                <h4>Best Practice Delivery</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/best-practice.jpg)'"></div>
                <p>Full life-cycle development, following software best practices. Our experienced teams deliver world class software solutions using continuous delivery and Agile processes. We utilise the latest technologies including fully automating software development which in turn saves money.</p>
            </div>

            <div class="capabilities__entry">
                <h4>Project Outsourcing</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/outsourcing.jpg)'"></div>
                <p>Working to a budget is not a problem, we have partnerships and individuals around the globe who are part of our community, we can therefore deliver solutions at highly competitive prices without compromise.</p>
            </div>

            <div class="capabilities__entry">
                <h4>Strategic Planning</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/strategic-planning.jpg)'"></div>
                <p>We specialise in building long lasting maintainable organisations, this includes a full assessment of projects and process and outlining both short term tactical and long term strategic plans to instill efficient lean practices and measurable targets.</p>
            </div>

            <div class="capabilities__entry">
                <h4>External Audit</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/external-audit.jpg)'"></div>
                <p>As an independent IT partner we can perform a number of audits and make recommendations on your processes and software. This could be as simple as reviewing Agile maturity, open source practices or software quality through to your entire department and customer satisfaction.</p>
            </div>
        </div>
    </div>
</cm-content>
