<cm-content>
    <h2>Recruitment and Team Building</h2>
    <p>The most important part of a company or a project is the people and the environment they work in. We build winning workplaces, with people who are enthusiastic and reliable.</p>
    <p>There are no ninjas, wizards, rockstars or 10x developers. Every member of an organisation should bring value with an equal opportunity to learn, grow and contribute.</p>
    <blockquote>Word of mouth is the most powerful tool in recruitment. How will you build your buzz?</blockquote>
    <img src="https://cdn.codemortals.io/stock/recruitment.jpg" />
</cm-content>

<section>
    <article>
        <cm-content>
            <h3>Culture</h3>
            <p>Building a company starts with knowing your people, their wants and desires. This changes over time, as their life matures. When we bring people to your organisation and projects we make sure to first understand your current business culture and direction.</p>
            <p>With the right cultural diversity your teams will become advocates for your company, sending your message out to all, for free.</p>
            <blockquote>Shaping your culture is more than half done when you hire your team.</blockquote>
        </cm-content>
    </article>

    <article>
        <cm-content>
            <h3>Expert Teams</h3>
            <p>We can provide whole teams into an organisation to help achieve your short term goals. Our teams are experts with prior experience of working together meaning they can hit the ground running.</p>
            <p>These teams can then transition by replacement or acquisition into permanent members of staff within your organisation when the time is right.</p>
            <blockquote class="light">Build teams that are self-sustainable, embrace change and stand out.</blockquote>
        </cm-content>
    </article>

    <article>
        <cm-content>
            <h3>Developer relations</h3>
            <p>Authority is an integral part of the recruitment process, no matter the role in your IT department having recommendations from within our community can bring peace of mind to both the employer and employee.</p>
            <p>We attend and host a great many events, these are opportunities to network with and find, the best in the industry. Potentially hiring these enthusiastic and skilled people into organisations looking for quality growth.</p>
            <blockquote>Better the person you know than the person you don't.</blockquote>
        </cm-content>
    </article>
</section>

<cm-content>
    <div>
        <div class="capabilities">
            <div class="capabilities__entry">
                <h4>Attitude</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/attitude.jpg)'"></div>
                <p>At the top of the list when hiring is personal attitude, we make sure that people who join are positive, honest and open.</p>
            </div>

            <div class="capabilities__entry">
                <h4>Passion</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/passion.jpg)'"></div>
                <p>Key to thriving in a role is the passion to learn and the drive to make a difference. We believe those with the greatest passion join industry events and contribute to their communities.</p>
            </div>

            <div class="capabilities__entry">
                <h4>Diverse</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/diverse.jpg)'"></div>
                <p>Building a diverse workforce improves problem solving, and reduces bias. This improves on creativity and innovation, enabling more ideas to be debated and allowing unique solutions to present themselves.</p>
            </div>

            <div class="capabilities__entry">
                <h4>Inclusive</h4>
                <div class="capabilities__entry__image" [style.backgroundImage]="'url(https://cdn.codemortals.io/stock/inclusive.jpg)'"></div>
                <p>Be it demographic or acquired diversity, we are free from bias. We ensure that all those with the right skill set are given an equal opportunity. It is important that everyone is heard and has a voice.</p>
            </div>
        </div>
    </div>
</cm-content>
